
header {
    background-color: #b8c0c7;
    padding: 2px 5px 2px 8px;
    width: 100%;
    margin:2px 2px 2px 2px;
}

nav {
	width: 100%;
	background-color: #ff00ff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
	/*float:left;*/
	display: inline;
	margin: 2px 8px 2px 8px;
}
 
a {
	/*display: block;*/
	text-decoration: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
}

footer {
	width:100%;
}

header p {
	font-style: normal;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #000555;
	text-align: right;
	
}

footer p {
	font-style: normal;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000555;
	text-align: center;
}

.btn {
  font-size: 16px;
  width:100px;
}

.btn-danger {
  background: blue;
}
