html{
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}
/*body{
	background-color: #F0FAFF;
}*/
/*.container{
	background-color: #ffffff;
	border-right: 1px solid #52CC7A;
	border-left: 1px solid #52CC7A;	
}*/
.nav li{	
	font-weight: bold;	
}
.panel-heading{
	font-size: 13px;
}
.clear-up{
	padding-top: 6px;
}
.myicon-facebook { 	
	background: url(images/facebook-32x32.png) ;
	background-repeat: no-repeat; 	
	width: 32px;
	margin-left: -30px;

}
.myicon-twitter { 
	left: 35px;
	background: url(images/twitter-32x32.png); 	
	background-repeat: no-repeat; 	
	width: 32px;	
}

.myicon-youtube { 
	left: 35px;
	background: url(images/youtube-32x32.png); 	
	background-repeat: no-repeat; 	
	width: 32px;	
}

.icons > li {	
	list-style: none;
	height: 32px;
	display: inline-block;
}
.address > li{
	list-style: none;
}
/*f8f8f8
428bca*/
.img-icon{
	border: #23A2D3 6px solid;
}
blockquote {
  border-color: #31708f;
  /*border-color: rgba(0, 0, 0, .15);*/
}
.img-center 
.img-responsive {
	display: table;
	 margin: 0 auto;
}