html{
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}
/*body{
        background-color: #F0FAFF;
}*/
/*.container{
        background-color: #ffffff;
        border-right: 1px solid #52CC7A;
        border-left: 1px solid #52CC7A;	
}*/
.nav li{	
    font-weight: bold;	
}
.panel-heading{
    font-size: 13px;    
}
.panel-promo {
  border-color: #FFB2FF;
}
.panel-promo > .panel-heading {
  color: #31708f;
  background-color: #FFB2FF;
  border-color: #FFB2FF;
}
.panel-header-promo-top{
    border-top:solid 3px;
    border-top-color: #CC52CC;
}
.clear-up{
    padding-top: 6px;
}
.myicon-facebook { 	
    background: url(images/facebook-32x32.png) ;
    background-repeat: no-repeat; 	
    width: 32px;
    margin-left: -30px;

}
.myicon-twitter { 
    left: 35px;
    background: url(images/twitter-32x32.png); 	
    background-repeat: no-repeat; 	
    width: 32px;	
}

.myicon-youtube { 
    left: 35px;
    background: url(images/youtube-32x32.png); 	
    background-repeat: no-repeat; 	
    width: 32px;	
}

.icons > li {	
    list-style: none;
    height: 32px;
    display: inline-block;
}
.address > li{
    list-style: none;
}
.img-icon{
    border: #23A2D3 6px solid;
}
.blockquote-reverse{
    border-color: #31708f;
    /*border-color: rgba(0, 0, 0, .15);*/
}
blockquote{
    border-color: #31708f;
    /*border-color: rgba(0, 0, 0, .15);*/
}
.img-center 
.img-responsive {
    display: table;
    margin: 0 auto;
}
.img-caption{
    float: left;
    margin-right: 5px;
}
.thumbnail-success{
    border: 1px solid #CF9A2C;
}
.thumbnail-product{
    border: 1px solid #FFF;
}
.success{
    border-color: #CF9A2C;    
}
.featurette-bg{
    background-color: #f3f3f3;
}
.calendar-text { 
    margin-top: .3em;
    color: #40B3DF; 
}
.easyPaginateList{
    list-style-type:none;
}
.easyPaginateNav{
    padding-left: 83px;
}
.sharrre .box{
    float:left;
}
.sharrre .count {
    color:#444444;
    display:block;
    font-size:17px;
    line-height:34px;
    height:34px;
    padding:4px 0;
    position:relative;
    text-align:center;
    text-decoration:none;
    width:50px;
    background-color:#eee;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.sharrre .share {
    color:#FFFFFF;
    display:block;
    font-size:11px;
    height:16px;
    line-height:16px;
    margin-top:3px;
    padding:0;
    text-align:center;
    text-decoration:none;
    width:50px;
    background-color:#9CCE39;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.sharrre .buttons {
    display:none;
    position:absolute;
    margin-left:50px;
    z-index:10;
    background-color:#fff;
}
.sharrre .button {
    float:left;
    max-width:50px;
    margin-left:10px;
}
.map-style{
    height: 400px;
    width: auto;
}
#sosmed{
    padding-top: 10px;
}
.thumb-hover:hover{
    opacity: 0.5;
    background-color: #000000;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;    
}
.caption-height{
    height: 19em;
}
.testimonial{    
    padding-top: 4px;
}

.panel-height{
    height: 250px;
    border-top:solid 3px;
    border-top-color: #9CCE39;
}
.panel-header-top{
    border-top:solid 3px;
    border-top-color: #9CCE39;
}
.box{
    border-top: solid #9CCE39 1px;
}
.posted{
    margin-top: 10px;
    border-top: solid #9CCE39 1px;
    border-bottom: solid #9CCE39 1px;
}
.row-promo{
    height: 200px;
}

/* First breakpoint at 576px */
/* Inherits mobile styles, but floats containers to make columns */
@media all and (min-width: 36em){
    
}

/* Second breakpoint at 800px */
/* Adjusts column proportions, tweaks base H1 */
@media all and (min-width: 80em){
    .easyPaginateNav{
        padding-left: 8em;
    }
}

/* Second breakpoint at 1152x864px */
@media all and (min-width: 80em){
    .easyPaginateNav{
        padding-left: 7em;
    }
}

/*FAQ*/
.checkout{
	margin-bottom:30px;
	margin-top:20px;}

.checkout .checkout_text{
	position:relative;
	padding:10px;
	border:3px solid #eee;
	background:#dedede;
	font-size:12px;
	font-style:italic;
	color:#777;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px}

.checkout .checkout_info{
	margin:10px 0}

.checkout .checkout_info .checkout_photo{
	display:inline-block;
	float:left;
	width:40px;
	height:40px;
	margin:5px 10px 10px 0;
	border:5px solid #eee;
	overflow:hidden}

.checkout .checkout_info .checkout_photo,.checkout .checkout_info .checkout_photo img{
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%}
	
.links {
	font-size:20px;
	color:#9C0;}

.checkout .checkout_info .checkout_autor{
	font-weight:700;
	font-size:13px}

.checkout .checkout_info .checkout_website{
	font-size:11px}
	
.checkout .checkout_text span{
	color:#F60;}
	

.checkout .checkout_text .checkout_arrow{
	position:absolute;
	display:block;
	width:18px;
	height:18px;
	background:#dedede;
	border-top:3px solid #eee;
	border-right:3px solid #eee;
	border-bottom:3px solid transparent;
	border-left:3px solid transparent;
	bottom:-8px;
	left:15px;
	transform:rotate(135deg);
	-ms-transform:rotate(135deg);
	-webkit-transform:rotate(135deg);
	-o-transform:rotate(135deg);
	-moz-transform:rotate(135deg)}
	
h4 {
	color:#1c974e;
	font-weight:bold;
}

.modal-body #imagepreview {
	width: 100%;
}

input, select .lebar_besar {
    width: 200px;
}

/*tambahan ana*/

.uppercase {
  text-transform: uppercase;
}
