/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0ti*/
/* PREFIXED CSS */
/* WRAPPER */
/* CARAT */
/* OLD SELECT (HIDDEN) */
/* SELECTED FEEDBACK ITEM */
/* DROP DOWN WRAPPER */
/* Height is adjusted by JS on open */
/* FADE OVERLAY FOR SCROLLING LISTS */
/* DROP DOWN LIST */
/* DROP DOWN LIST ITEMS */
/* .focus class is also added on hover */
/* Open state */
/* start h_menu */
/***** Media Quries *****/
/*--.h_menu4{
		float: none;
	}--*/
/*--slider--*/
/*--- slider-css --*/
/*-- responsive-mediaquries --*/
/******** SAP ************/
/*--footer--*/
/*--products--*/
/***** Slider *****/
/* Default Skin */
/* Default Skin */
/* OLD SELECT (HIDDEN) */
/* SELECTED FEEDBACK ITEM */
/* DROP DOWN WRAPPER */
/* Height is adjusted by JS on open */
/* FADE OVERLAY FOR SCROLLING LISTS */
/* DROP DOWN LIST */
/* DROP DOWN LIST ITEMS */
/* .focus class is also added on hover */
/*--single--*/
/* OLD SELECT (HIDDEN) */
/* SELECTED FEEDBACK ITEM */
/* DROP DOWN WRAPPER */
/* Height is adjusted by JS on open */
/* FADE OVERLAY FOR SCROLLING LISTS */
/* DROP DOWN LIST */
/* DROP DOWN LIST ITEMS */
/* .focus class is also added on hover */
/*--contact--*/
/*--login--*/
/*--register--*/
/*--responsive design--*/
/*** Navigation ***/
/*tambahan ana*/
/*update 2017 */
/*-----MASAONRY-----*/
/* force scrollbar */
/* ---- grid ---- */
/* clear fix */
/* ---- .grid-item ---- */
/*------hover effect--------- */

@import 'normalize';

h4 {
	margin-top: 0;
}
h5 {
	margin-top: 0;
}
h6 {
	margin-top: 0;
}
h1 {
	margin-top: 0;
}
h2 {
	margin-top: 0;
}
h3 {
	margin-top: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
ol {
	margin: 0;
}
p {
	margin: 0;
}
html {
	font-family: 'Oxygen', sans-serif;
	font-size: 100%;
	background: #fff;
	overflow-y: scroll;
}
body {
	font-family: 'Oxygen', sans-serif;
	font-size: 100%;
	background: #fff;
}
.header_top {
	background: #dd9d33;
	min-height: 28px;
	position: relative;
}
.header_top_right {
	float: right;
	width: 30%;
}
.top-info {
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
	margin-top: 6px;
}
.lang_list {
	float: left;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
	width: 38%;
}
.dropdown {
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
	position: relative;
	width: 75px;
	cursor: pointer;
	font-weight: 200;
	background: none;
	padding: 8px 15px 5px;
	color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	div {
		-webkit-transition: all 150ms ease-in-out;
		-moz-transition: all 150ms ease-in-out;
		-ms-transition: all 150ms ease-in-out;
		transition: all 150ms ease-in-out;
		position: absolute;
		height: 0;
		left: 0;
		right: 0;
		top: 100%;
		background: #fb4d01;
		overflow: hidden;
		opacity: 0;
		color: #fff;
		width: 90px;
		&::after {
			-webkit-transition: all 150ms ease-in-out;
			-moz-transition: all 150ms ease-in-out;
			-ms-transition: all 150ms ease-in-out;
			transition: all 150ms ease-in-out;
		}
	}
	li {
		-webkit-transition: all 150ms ease-in-out;
		-moz-transition: all 150ms ease-in-out;
		-ms-transition: all 150ms ease-in-out;
		transition: all 150ms ease-in-out;
		display: block;
		font-size: 11px;
		overflow: hidden;
		white-space: nowrap;
		text-transform: uppercase;
		font-weight: 400;
		list-style: none;
		padding: 8px;
		border-bottom: 1px solid #ee4a02;
		&:last-child {
			border-bottom: 0;
		}
	}
	.carat {
		-webkit-transition: all 150ms ease-in-out;
		-moz-transition: all 150ms ease-in-out;
		-ms-transition: all 150ms ease-in-out;
		transition: all 150ms ease-in-out;
		position: absolute;
		right: -1px;
		top: 50%;
		margin-top: 0px;
		border: 4px solid transparent;
		border-top: 4px solid #c1c1c1;
		z-index: 1;
		-webkit-transform-origin: 50% 20%;
		-moz-transform-origin: 50% 20%;
		-ms-transform-origin: 50% 20%;
		transform-origin: 50% 20%;
		&:after {
			-webkit-transition: all 150ms ease-in-out;
			-moz-transition: all 150ms ease-in-out;
			-ms-transition: all 150ms ease-in-out;
			transition: all 150ms ease-in-out;
			position: absolute;
			right: -1px;
			top: 50%;
			margin-top: 0px;
			border: 4px solid transparent;
			border-top: 4px solid #c1c1c1;
			z-index: 1;
			-webkit-transform-origin: 50% 20%;
			-moz-transform-origin: 50% 20%;
			-ms-transform-origin: 50% 20%;
			transform-origin: 50% 20%;
		}
	}
	.selected {
		&::after {
			-webkit-transition: all 150ms ease-in-out;
			-moz-transition: all 150ms ease-in-out;
			-ms-transition: all 150ms ease-in-out;
			transition: all 150ms ease-in-out;
			-webkit-pointer-events: none;
			-moz-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 60px;
		}
		display: block;
		font-size: 11px;
		overflow: hidden;
		white-space: nowrap;
		text-transform: uppercase;
		font-weight: 400;
	}
	&:after {
		-webkit-transition: all 150ms ease-in-out;
		-moz-transition: all 150ms ease-in-out;
		-ms-transition: all 150ms ease-in-out;
		transition: all 150ms ease-in-out;
	}
	&:hover {
		.carat {
			&:after {
				border-top-color: #f4f4f4;
			}
		}
		div {
			background: #4CB1CA;
		}
	}
	.old {
		position: absolute;
		left: 0;
		top: 0;
		height: 0;
		width: 0;
		overflow: hidden;
	}
	select {
		position: absolute;
		left: 0px;
		top: 0px;
	}
	ul {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		list-style: none;
		overflow: hidden;
		padding: 0;
		background: #fd926d;
	}
	li.focus {
		background: #dd6b44;
		position: relative;
		z-index: 3;
		color: #fff;
	}
	li.active {
		background: #ee4a02;
		color: #fff;
	}
}
.dropdown.scrollable {
	div {
		&::after {
			-webkit-pointer-events: none;
			-moz-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 50px;
		}
	}
}
.dropdown.open {
	z-index: 2;
	.carat {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	div {
		opacity: 1;
		z-index: 2;
	}
}
.dropdown.focus {
	.carat {
		border-top-color: #f8f8f8;
		&:after {
			border-top-color: #0180d1;
		}
	}
}
.dropdown.touch {
	select {
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}
.dropdown.scrollable.bottom {
	div {
		&::after {
			opacity: 0;
		}
	}
}
.dropdown.scrollable.open {
	ul {
		overflow-y: auto;
	}
}
ul.header_user_info {
	height: 28px;
	float: left;
	border-left: 1px solid #ffe1b4;
	border-right: 1px solid #ffe1b4;
	width: 60%;
	a {
		color: #fff;
		&:hover {
			color: #ffcf86;
			text-decoration: none;
			color: #ffcf86;
		}
	}
	li.user_desc {
		display: block;
		font-size: 10px;
		font-weight: 400;
		text-transform: uppercase;
		cursor: pointer;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		transition: all 0.2s linear;
		float: left;
		margin-top: 8px;
	}
}
ul.header_check {
	height: 28px;
	float: left;
	border-left: 1px solid #ffe1b4;
	width: 40%;
	a {
		color: #fff;
		&:hover {
			color: #ffcf86;
			text-decoration: none;
			color: #ffcf86;
		}
	}
	li.user_desc {
		display: block;
		font-size: 10px;
		font-weight: 400;
		text-transform: uppercase;
		cursor: pointer;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		transition: all 0.2s linear;
		float: left;
		margin-top: 8px;
	}
}
i.user {
	width: 17px;
	height: 17px;
	background: url(../images/img-sprite.png) no-repeat -2px -5px;
	float: left;
	margin: 6px 10px 0 5px;
}
i.cart {
	width: 17px;
	height: 17px;
	background: url(../images/img-sprite.png) no-repeat -225px -5px;
	float: left;
	margin: 6px 10px 0 5px;
}
.search-box {
	position: relative;
}
.sb-search {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 0%;
	min-width: 30px;
	height: 28px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}
.sb-search-input {
	position: absolute;
	top: 0;
	left: 0px;
	border: none;
	outline: none;
	background: #f1b85b;
	width: 100%;
	height: 28px;
	margin: 0;
	z-index: 10;
	padding: 5px 10px;
	font-size: 13px;
	color: #ffffff;
	&::-webkit-input-placeholder {
		color: #ffffff;
	}
	&:-moz-placeholder {
		color: #ffffff;
	}
	&::-moz-placeholder {
		color: #efb480;
	}
	&:-ms-input-placeholder {
		color: #ffffff;
	}
}
.sb-icon-search {
	width: 30px;
	height: 28px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 45px;
	text-align: center;
	cursor: pointer;
	color: #FFF;
	background: #dd9d33 url('../images/search.png') no-repeat 7px 4px;
	z-index: 90;
}
.sb-search-submit {
	width: 30px;
	height: 28px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 45px;
	text-align: center;
	cursor: pointer;
	background: #333 url('../images/search.png') no-repeat 0px 1px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
	-webkit-appearance: none;
}
.sb-search.sb-search-open {
	width: 100%;
	.sb-search-submit {
		z-index: 90;
	}
}
.no-js {
	.sb-search {
		width: 100%;
		.sb-search-submit {
			z-index: 90;
		}
	}
}
.header_bottom {
	padding: 1em 0;
}
.logo {
	float: left;
	margin-top: 0px;
}
.header_bottom_right {
	float: right;
	width: 88%;
	padding-top: 10px;
}
.h_menu4 {
	float: right;
	margin-right: 2%;
	margin-top: 12px;
}
.toggleMenu {
	display: none;
	background: #fd926d;
	width: 100%;
	color: #FFF;
	font-size: 1.5em;
}
.nav {
	list-style: none;
	*zoom: 1;
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
	ul {
		list-style: none;
		width: 13em;
		border-bottom: 5px solid #fd926d;
		z-index: 888;
	}
	li {
		a {
			display: block;
			padding: 10px 15px;
			color: #999;
			font-size: 0.85em;
			font-weight: 600;
			-webkit-transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
			text-decoration: none;
			&:hover {
				background: #74ac80;
				color: #fff;
			}
		}
		position: relative;
		li.hover {
			ul {
				left: 100%;
				-webkit-transition: background .2s linear;
				-moz-transition: background .2s linear;
				-ms-transition: background .2s linear;
				-o-transition: background .2s linear;
				transition: background .2s linear;
			}
		}
		li {
			border-top: none;
			&:hover {
				border-top: none;
			}
			a {
				text-transform: capitalize;
				font-size: 0.85em;
				border-top: 1px solid #e8ebf1;
				border-left: 1px solid #e8ebf1;
				border-right: 1px solid #e8ebf1;
				&:hover {
					color: #fff;
				}
			}
		}
	}
	>li {
		>a.parent {
			background: url(../images/arrow.png) no-repeat 15px 16px;
			padding: 10px 10px 10px 30px;
			&:hover {
				background: url(../images/arrow_h.png) no-repeat 15px 16px #74ac80;
				padding: 10px 10px 10px 30px;
			}
		}
		float: left;
		>li {
			>a {
				font-size: 0.85em;
				padding: 10px 20px;
				display: block;
				color: #555;
				background: #fff;
				position: relative;
				z-index: 9999;
				font-weight: normal;
				-webkit-transition: all 0.3s ease-out;
				-moz-transition: all 0.3s ease-out;
				-ms-transition: all 0.3s ease-out;
				-o-transition: all 0.3s ease-out;
				transition: all 0.3s ease-out;
				width: 100%;
				text-decoration: none;
				margin: 0;
				text-transform: lowercase;
			}
		}
		>ul {
			position: absolute;
			left: -9999px;
			padding: 0;
			z-index: 9999;
			background: #fff;
			>li {
				>ul {
					position: absolute;
					left: -9999px;
					top: 0px;
					padding: 0;
					z-index: 9999;
					background: #fff;
				}
			}
		}
	}
	>li.hover {
		>ul {
			left: -1px;
			top: 40px;
		}
	}
}
.shopping_cart {
	float: left;
	width: 30%;
}
ul.shopping_cart_top {
	padding: 5px 10px;
	list-style: none;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	li.shop_left {
		float: left;
		margin-right: 54%;
		font-size: 0.8125em;
		color: #999;
		font-weight: 600;
	}
	li.shop_right {
		float: left;
		img {
			vertical-align: baseline;
		}
	}
	&:hover {
		li.shop_left {
			color: #fd926d;
		}
	}
}
ul.shopping_bag {
	padding: 4px 10px;
	list-style: none;
	border: 1px solid #ddd;
	background: #fafafa;
	li.bag_left {
		float: left;
	}
	li.bag_right {
		float: left;
		font-size: 11px;
		text-transform: uppercase;
		color: #999;
		font-weight: 600;
		margin-top: 6px;
	}
	&:hover {
		li.bag_right {
			color: #fd926d;
		}
	}
}
.slider {
	position: relative;
}
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
	li {
		-webkit-backface-visibility: hidden;
		position: absolute;
		display: none;
		width: 100%;
		left: 0;
		top: 0;
		&:first-child {
			position: relative;
			display: block;
			float: left;
		}
	}
	img {
		display: block;
		height: auto;
		float: left;
		width: 100%;
		border: 0;
	}
}
.caption {
	width: 56%;
	position: absolute;
	top: 35%;
	left: 20%;
	text-align: center;
	h3 {
		color: #FFF;
		font-weight: 700;
		font-size: 1.8em;
		text-transform: uppercase;
	}
	p {
		color: #FFF;
		line-height: 1.5em;
		font-size: 0.875em;
		text-align: center;
		margin: 1em 0 1.5em 0;
	}
}
a.morebtn {
	background: #3D3D3D;
	padding: 0.8em 0;
	display: block;
	font-size: 0.875em;
	text-transform: uppercase;
	color: #FFF;
	width: 20%;
	margin: 0 auto;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
	&:hover {
		background: #585686;
	}
}
.callbacks_tabs {
	a {
		&:after {
			content: "\f111";
			font-size: 0;
			font-family: FontAwesome;
			visibility: visible;
			display: block;
			height: 12px;
			width: 12px;
			display: inline-block;
			border: 2px solid #867a76;
		}
		visibility: hidden;
	}
	li {
		display: inline-block;
	}
}
.callbacks_here {
	a {
		&:after {
			border: 2px solid #fd926d;
		}
	}
}
ul.callbacks_tabs.callbacks1_tabs {
	position: absolute;
	bottom: 14px;
	z-index: 999;
	left: 13px;
}
.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 50%;
	left: 0;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 117px;
	width: 30px;
	background: transparent url("../images/arrows.png") no-repeat left top;
	margin-top: -45px;
}
.callbacks_nav.next {
	left: auto;
	background-position: right top;
	right: 0;
}
.column_center {
	background: #fff0d7;
	margin: 0 0 2em 0;
}
.search {
	position: relative;
	float: left;
	margin-top: 10px;
	input[type="text"] {
		padding: 8px 10px;
		outline: none;
		color: #999;
		background: #fff;
		border: none;
		width: 87.22%;
		line-height: 1.5em;
		font-size: 0.8125em;
		font-style: italic;
	}
	input[type="submit"] {
		background: no-repeat 10px 10px #dd9d33;
		padding: 5px 17px;
		border: none;
		cursor: pointer;
		position: absolute;
		outline: none;
		border-bottom: 4px solid #dd6b44;
		&:hover {
			background: no-repeat 10px 10px #74ac80;
			border-bottom: 4px solid #0E8673;
		}
	}
}
ul.social {
	padding: 0;
	list-style: none;
	float: right;
	li {
		float: left;
		a {
			i {
				width: 55px;
				height: 55px;
				display: block;
				background: url(../images/img-sprite.png)no-repeat #f7f7f7;
				&:hover {
					opacity: 0.5;
				}
			}
			i.fb {
				width: 50px;
				height: 50px;
				display: block;
				background: url(../images/img-sprite.png)no-repeat -18px 14px;
			}
			i.tw {
				width: 50px;
				height: 50px;
				display: block;
				background: url(../images/img-sprite.png)no-repeat -56px 15px;
			}
			i.gl {
				width: 50px;
				height: 50px;
				display: block;
				background: url(../images/img-sprite.png)no-repeat -245px 16px;
			}
			i.ig {
				width: 50px;
				height: 50px;
				display: block;
				background: url(../images/img-sprite.png)no-repeat -245px -33px;
			}
			i.yt {
				width: 50px;
				height: 50px;
				display: block;
				background: url(../images/img-sprite.png)no-repeat -245px -75px;
			}
		}
	}
	li.find {
		margin: 17px 20px 0 0;
		font-size: 0.85em;
		color: #555;
	}
}
.stay {
	float: left;
	font-size: 0.85em;
	margin: 8px 10px 0 0;
	color: #555;
}
.stay_right {
	float: left;
}
.sap_tabs {
	clear: both;
	padding: 4em 0 2em;
}
.tab_box {
	background: #fd926d;
	padding: 2em;
}
.top1 {
	margin-top: 2%;
}
.resp-tabs-list {
	width: 35%;
	list-style: none;
	padding: 0;
	margin: 0 auto;
}
.resp-tab-item {
	&:first-child {
		border-left: none;
	}
	color: #000;
	font-size: 1em;
	cursor: pointer;
	padding: 12px 10px;
	display: inline-block;
	margin: 0;
	text-align: center;
	list-style: none;
	float: left;
	width: 24.3333%;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-transform: uppercase;
	&:hover {
		text-shadow: none;
		color: #f8b244;
	}
}
.resp-tab-active {
	background: #cae2c4;
	text-shadow: none;
	color: #32801e;
}
.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active {
	display: block;
}
.resp-accordion-active {
	display: block;
}
ul.tab_img {
	padding: 0;
	list-style: none;
	position: relative;
	background: #cae2c4;
	padding: 2em 0;
	li {
		float: left;
		width: 15%;
		margin-right: 2%;
		&:hover {
			box-shadow: 0 0 5px #A3A3A3;
		}
	}
	li.last {
		margin-right: 0;
	}
}
.title-desc {
	height: 50px;
	a {
		font-weight: 700;
		text-transform: uppercase;
		color: #F90;
		&:hover {
			text-transform: uppercase;
			text-decoration: none;
			color: #096;
		}
	}
}
.tab_desc {
	background: #dcdcdc;
	padding: 0px 0px 10px 0px;
	list-style: none;
	text-align: center;
	h3 {
		font-size: 0.85em;
		text-transform: uppercase;
		font-weight: 600;
		margin-bottom: 3px;
		a {
			color: #787878;
		}
	}
	p {
		font-size: 1.5em;
		color: #000;
		margin-bottom: 10px;
	}
}
.tab_desc1 {
	h3 {
		font-size: 0.85em;
		text-transform: uppercase;
		font-weight: 600;
		margin-bottom: 3px;
		a {
			color: #787878;
		}
	}
	p {
		font-size: 1.5em;
		color: #000;
		margin-bottom: 10px;
	}
	background: #f9f5f4;
	padding: 1em 0;
	list-style: none;
	text-align: center;
}
.cart-icon {
	display: inline;
}
.btn1.btn-primary1 {
	box-shadow: none;
	background: none;
	position: relative;
	text-decoration: none;
	display: inline-block;
	padding: 5px 8px;
	color: #FFF;
	border: none;
	letter-spacing: 0;
	text-shadow: none;
	text-decoration: none !important;
	background: #dd9d33;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-transform: uppercase;
	font-size: 0.6125em;
	border-bottom: 3px solid #dd6b44;
	>span {
		float: left;
		margin-right: 9px;
	}
}
a.btn1.btn-primary1 {
	img {
		vertical-align: sub;
		margin-top: 2px;
	}
}
.view {
	&:hover {
		.btn1.btn-primary1 {
			background: #74ac80;
			border-bottom: 3px solid #0E8673;
		}
	}
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	.mask {
		position: absolute;
		overflow: hidden;
		top: 1em;
		left: 3.8em;
	}
	.content {
		position: absolute;
		overflow: hidden;
		top: 1em;
		left: 3.8em;
		position: absolute;
		overflow: hidden;
		top: 5.5em;
		left: 3.5em;
	}
	img {
		display: block;
		position: relative;
	}
	h2 {
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		position: relative;
		font-size: 17px;
		padding: 10px;
		background: rgba(0, 0, 0, 0.8);
		margin: 20px 0 0 0;
	}
	.product_mask {
		position: absolute;
		overflow: hidden;
		top: 5.5em;
		left: 3.5em;
	}
}
.btn1.btn-primaryleft {
	box-shadow: none;
	background: none;
	position: relative;
	text-decoration: none;
	display: inline-block;
	padding: 5px 8px;
	color: #FFF;
	border: none;
	letter-spacing: 0;
	text-shadow: none;
	text-decoration: none !important;
	background: #ffbe8f;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-transform: uppercase;
	font-size: 0.6125em;
	border-bottom: 3px solid #9d9d9d;
	>span {
		float: left;
		margin-right: 9px;
	}
}
.btn1.btn-primarybv {
	box-shadow: none;
	background: none;
	position: relative;
	text-decoration: none;
	display: inline-block;
	padding: 5px 8px;
	color: #FFF;
	border: none;
	letter-spacing: 0;
	text-shadow: none;
	text-decoration: none !important;
	background: #dd9d33;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-transform: uppercase;
	font-size: 0.6125em;
	border-bottom: 3px solid #dd6b44;
	>span {
		float: left;
		margin-right: 9px;
	}
}
a.btn1.btn-primarybv {
	img {
		vertical-align: sub;
		margin-top: 2px;
	}
}
.sale-box {
	position: absolute;
	top: 32px;
	overflow: hidden;
	height: 50px;
	width: 50px;
	background: url(../images/sale.jpg) no-repeat;
}
.view-first {
	img {
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}
	.mask {
		ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		background: url(../images/shop.png)no-repeat;
		width: 140px;
		height: 140px;
	}
	h2 {
		-webkit-transform: translateY(-100px);
		-moz-transform: translateY(-100px);
		-o-transform: translateY(-100px);
		-ms-transform: translateY(-100px);
		transform: translateY(-100px);
		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	a.info {
		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	&:hover {
		.mask {
			-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
			opacity: 1;
		}
		.product_mask {
			-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
			opacity: 1;
		}
		h2 {
			-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
			opacity: 1;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-o-transform: translateY(0px);
			-ms-transform: translateY(0px);
			transform: translateY(0px);
		}
		p {
			-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
			opacity: 1;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-o-transform: translateY(0px);
			-ms-transform: translateY(0px);
			transform: translateY(0px);
			-webkit-transition-delay: 0.1s;
			-moz-transition-delay: 0.1s;
			-o-transition-delay: 0.1s;
			-ms-transition-delay: 0.1s;
			transition-delay: 0.1s;
		}
		a.info {
			-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
			opacity: 1;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-o-transform: translateY(0px);
			-ms-transform: translateY(0px);
			transform: translateY(0px);
			-webkit-transition-delay: 0.2s;
			-moz-transition-delay: 0.2s;
			-o-transition-delay: 0.2s;
			-ms-transition-delay: 0.2s;
			transition-delay: 0.2s;
		}
	}
	.product_mask {
		ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		background: url(../images/shop.png)no-repeat;
		width: 140px;
		height: 140px;
	}
}
.brands {
	border-bottom: 1px solid rgb(208, 208, 208);
	padding: 1em 0 1em;
}
.m_3 {
	text-align: center;
	position: relative;
	h3 {
		color: #25a25b;
		font-size: 1em;
		text-transform: uppercase;
		font-weight: 600;
		margin-top: 45px;
	}
	h2 {
		color: #808080;
		font-size: 1em;
		text-transform: uppercase;
		font-weight: 600;
		margin-top: 45px;
	}
}
.m_4 {
	text-align: center;
	position: relative;
	margin: 3em 0 1em;
	p {
		color: #000;
		font-size: 1em;
		text-transform: uppercase;
		font-weight: bold;
	}
}
i.clearence {
	width: 164px;
	height: 162px;
	display: inline-block;
	background: url(../images/clearence.png) no-repeat;
}
span.left_line1 {
	height: 1px;
	width: 460px;
	display: block;
	background: rgb(208, 208, 208);
	position: absolute;
	left: 1%;
	bottom: 82px;
}
span.right_line1 {
	height: 1px;
	width: 460px;
	display: block;
	background: rgb(208, 208, 208);
	position: absolute;
	right: 1%;
	bottom: 82px;
}
ul.grid1 {
	padding: 0;
	list-style: none;
	position: relative;
	margin-top: 2em;
	li {
		float: left;
		width: 23%;
		margin-right: 2.6%;
	}
	li.grid1_last {
		margin-right: 0;
	}
}
.sale-box1 {
	position: absolute;
	top: 2px;
	overflow: hidden;
	height: 50px;
	width: 50px;
	background: url(../images/sale.jpg) no-repeat;
}
ul.brands_list {
	padding: 0;
	list-style: none;
	margin: 1em 0 0em;
}
.category {
	&:hover {
		filter: grayscale(0%);
		-webkit-filter: grayscale(0%);
	}
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}
.margin0 {
	margin: 0 auto;
}
span.left_line {
	height: 1px;
	width: 42%;
	display: block;
	background: rgb(37, 162, 91);
	position: absolute;
	left: 0;
	bottom: 8px;
}
span.right_line {
	height: 1px;
	width: 42%;
	display: block;
	background: rgb(37, 162, 91);
	position: absolute;
	right: 0;
	bottom: 8px;
}
span.left_line2 {
	height: 1px;
	width: 42%;
	display: block;
	background: rgb(208, 208, 208);
	position: absolute;
	left: 0;
	bottom: 8px;
}
span.right_line2 {
	height: 1px;
	width: 42%;
	display: block;
	background: rgb(208, 208, 208);
	position: absolute;
	right: 0;
	bottom: 8px;
}
.grid-1 {
	text-align: center;
	padding: 2em 0;
	h1 {
		color: #414141;
		font-size: 1.5em;
		font-weight: 600;
	}
	p {
		color: #999;
		font-size: 0.95em;
		font-weight: 500;
		line-height: 1.8em;
	}
}
.grid-2 {
	background: #f7f7f7;
	padding: 1em 0;
	text-align: center;
	p {
		line-height: 1.8em;
		font-size: 0.85em;
		color: #999;
		font-weight: 500;
		img {
			display: inline-block;
			margin-left: 10px;
		}
	}
}
.footer_top {
	background: #ededed;
	padding: 3em 0;
}
.grid-3 {
	h3 {
		color: #dd9d33;
		font-size: 1.1em;
		font-weight: 600;
	}
}
ul.footer_list {
	padding: 0;
	list-style: none;
	li {
		a {
			color: #777;
			font-size: 0.8125em;
			font-weight: 500;
			line-height: 1.8em;
			&:hover {
				text-decoration: none;
				color: #fd926d;
			}
		}
	}
}
ul.footer_social {
	padding: 0;
	list-style: none;
	li {
		&:first-child {
			margin-left: 0;
		}
		display: inline-block;
		margin-right: 5px;
		a {
			i {
				width: 40px;
				height: 40px;
				display: block;
				background: url(../images/img-sprite.png)no-repeat;
				&:hover {
					opacity: 0.8;
				}
			}
			i.tw1 {
				background-position: -3px -39px;
			}
			i.db1 {
				background-position: -45px -39px;
			}
			i.fb1 {
				background-position: -88px -39px;
			}
			i.g1 {
				background-position: -3px -86px;
			}
			i.thumb {
				background-position: -47px -86px;
			}
			i.vimeo {
				background-position: -95px -86px;
			}
		}
	}
}
.footer_bottom {
	background: #dd9d33;
	padding: 1em 0;
}
.cssmenu {
	float: left;
	color: #fff;
	font-size: 0.8125em;
	ul {
		li {
			display: inline-block;
			a {
				color: #fff;
				display: block;
				margin: 10px;
				&:hover {
					text-decoration: none;
					color: #ffd081;
				}
			}
		}
	}
}
.copy {
	float: right;
	margin-top: 12px;
	p {
		color: #fff;
		font-size: 0.8125em;
		a {
			color: #fff;
		}
	}
}
ul.breadcrumbs {
	padding: 5px 0;
	list-style: none;
	border-top: 1px solid rgb(208, 208, 208);
	border-bottom: 1px solid rgb(208, 208, 208);
	li {
		display: inline-block;
		font-size: 0.8125em;
		color: #000;
		a {
			img {
				vertical-align: baseline;
			}
		}
	}
}
span.red {
	color: #fd926d;
}
.product_banner {
	background: #fff;
}
.products_top {
	padding: 2em 0;
}
.banner-wrap {
	padding: 1em 0 0;
	border-bottom: 1px solid rgb(208, 208, 208);
}
.wmuSlider {
	position: relative;
	overflow: hidden;
	min-height: 485px;
	.wmuSliderWrapper {
		article {
			img {
				max-width: 100%;
				width: auto;
				height: auto;
				display: block;
			}
		}
	}
}
.banner_full {
	float: left;
	width: 100%;
}
.banner_left {
	float: left;
	width: 50%;
}
.banner_right {
	float: left;
	width: 44%;
	margin-top: 5em;
	h1 {
		color: #4a4a4a;
		font-size: 1.5em;
		font-weight: 600;
	}
}
p.p1 {
	color: #fd926d;
	font-size: 2em;
	font-weight: bold;
}
p.p2 {
	color: #999;
	font-size: 0.8125em;
	line-height: 1.5em;
	padding: 2em 0;
}
p.p3 {
	color: #999;
	margin-top: 5px;
	font-size: 0.6em;
	line-height: 1.5em;
}
h5.p3 {
	color: #999;
	margin-top: 5px;
	font-size: 0.7em;
	line-height: 1.5em;
}
p.p4 {
	color: #999;
	font-size: 0.8125em;
	line-height: 1.5em;
	margin-bottom: 20px;
}
.wmuSliderPagination {
	z-index: 2;
	position: absolute;
	right: 46%;
	bottom: 5px;
	li {
		float: left;
		margin: 0 8px 0 0;
		list-style-type: none;
	}
	a {
		display: block;
		text-indent: -9999px;
		width: 10px;
		height: 10px;
		background: #867a76;
		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
	}
	a.wmuActive {
		background: #fd926d;
	}
}
ul.wmuSliderPagination {
	padding: 0;
}
.wmuGallery {
	.wmuGalleryImage {
		margin-bottom: 10px;
	}
}
.wmuSliderPrev {
	position: absolute;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background: url(../images/img-sprite.png)no-repeat;
	top: 43%;
	z-index: 2;
	cursor: pointer;
	background-position: -150px -4px;
	left: 0;
}
.wmuSliderNext {
	position: absolute;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background: url(../images/img-sprite.png)no-repeat;
	top: 43%;
	z-index: 2;
	cursor: pointer;
	background-position: -189px -4px;
	right: 0px;
}
a.btn1.btn2.btn-primary1 {
	padding: 15px 25px;
	font-size: 0.85em;
	font-weight: 100;
	img {
		vertical-align: sub;
		margin-top: 3px;
	}
	&:hover {
		background: #4fafa0;
		border-bottom: 3px solid #0E8673;
	}
}
.btn1.btn2.btn-primarybv {
	padding: 15px 25px;
	font-size: 0.85em;
	font-weight: 100;
	img {
		vertical-align: sub;
		margin-top: 3px;
	}
}
.mens-toolbar {
	border-bottom: 1px solid rgb(190, 190, 190);
	padding-bottom: 15px;
	margin-bottom: 15px;
	.sort {
		float: left;
		width: 40.5%;
		margin-top: 5px;
	}
}
.sort-by {
	color: #000;
	font-size: 0.8125em;
	label {
		font-weight: normal;
	}
}
.pages {
	float: right;
}
ul.dc_pagination.dc_paginationA.dc_paginationA06 {
	padding: 0;
	list-style: none;
	float: left;
}
ul.dc_pagination {
	li {
		&:first-child {
			margin-left: 0px;
			text-transform: uppercase;
		}
		float: left;
		margin: 0px;
		margin-left: 5px;
		padding: 0px;
		background: #f4f4f4;
		a {
			color: #000;
			display: block;
			padding: 7px 12px;
			text-decoration: none;
			font-size: 0.8125em;
			&:hover {
				color: #fd926d;
			}
		}
	}
}
ul.dc_paginationA06 {
	li {
		a.left {
			background: url(../images/pl_arrow.png) no-repeat 9px 5px;
			display: inline-block;
			width: 31px;
			height: 27px;
		}
		a.right {
			background: url(../images/pr_arrow.png) no-repeat 9px 5px;
			display: inline-block;
			width: 31px;
			height: 27px;
		}
	}
}
.limiter.visible-desktop {
	float: left;
	margin: 3px 20px 0;
	label {
		font-size: 0.8125em;
		color: #000;
		font-weight: 500;
	}
}
ul.grid-4 {
	padding: 0;
	list-style: none;
	position: relative;
	li {
		float: left;
		width: 30.6666%;
		margin-right: 4%;
	}
	li.grid-4_last {
		margin-right: 0;
	}
}
.product_box1 {
	margin-bottom: 2em;
}
h3.m_1 {
	color: #fff;
	font-size: 0.85em;
	padding: 8px 10px;
	background: #25A25B;
	text-transform: uppercase;
}
.metro {
	position: relative;
	cursor: pointer;
	font-weight: 600;
	background: #fff;
	color: #898989;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	&:hover {
		color: #666;
		.selected {
			&::after {
				background: url(../images/p_minus.png) no-repeat 0px 10px;
			}
		}
	}
	.old {
		position: absolute;
		left: 0;
		top: 0;
		height: 0;
		width: 0;
		overflow: hidden;
	}
	select {
		position: absolute;
		left: 0px;
		top: 0px;
	}
	.selected {
		color: #96a6a7;
		display: block;
		font-size: 0.8125em;
		padding: 8px 0px 8px 0px;
		overflow: hidden;
		white-space: nowrap;
		text-align: left;
		font-weight: 500;
		text-transform: uppercase;
		color: #000;
		&:hover {
			color: #e94e38;
		}
		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			padding: 6px;
			background: url(../images/p_plus.png) no-repeat 0px 10px;
		}
	}
	li {
		display: block;
		font-size: 0.8125em;
		padding: 8px 0px 8px 0px;
		overflow: hidden;
		white-space: nowrap;
		text-align: left;
		font-weight: 500;
		text-transform: uppercase;
		color: #000;
		list-style: none;
		padding: 6px 10px;
		font-size: 0.85em;
		font-weight: 400;
		text-transform: lowercase;
		&:last-child {
			border-bottom: 0;
		}
		&:hover {
			background-color: #DD3E27;
		}
	}
	div {
		position: absolute;
		height: 0;
		left: 0;
		right: 0;
		top: 100%;
		margin-top: 1px;
		overflow: hidden;
		opacity: 0;
		color: #FFF;
	}
	ul {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		padding: 0;
		list-style: none;
		overflow: hidden;
		background: #fd926d;
	}
	li.focus {
		background: #DD3E27;
		position: relative;
		z-index: 3;
		color: #FFF;
	}
	li.active {
		background-color: #dd6b44;
		color: #fff;
	}
}
.metro.open {
	z-index: 2;
	div {
		opacity: 1;
		z-index: 2;
	}
}
.metro.focus {
	color: #666;
	.selected {
		&::after {
			background: url(../images/p_minus.png) no-repeat 0px 10px;
		}
	}
}
.metro.touch {
	select {
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}
.metro.scrollable {
	div {
		&::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 50px;
		}
	}
}
.metro.scrollable.bottom {
	div {
		&::after {
			opacity: 0;
		}
	}
}
.metro.scrollable.open {
	ul {
		overflow-y: auto;
	}
}
ul.size {
	padding: 0;
	list-style: none;
	margin: 2em 0 3em;
	h3 {
		color: #555;
		font-size: 0.85em;
		text-transform: uppercase;
		font-weight: 600;
		margin-bottom: 1em;
	}
	li {
		display: inline-block;
		margin: 0 10px 0 0;
		a {
			color: #555;
			font-size: 12px;
			background: #f4f4f4;
			padding: 8px 10px;
			&:hover {
				text-decoration: none;
				color: #fff;
				background: #fd926d;
			}
		}
	}
}
ul.grid_1 {
	padding: 0;
	list-style: none;
	border-bottom: 1px solid rgb(185, 223, 185);
	padding-bottom: 10px;
	margin-bottom: 10px;
	li.grid_1-img {
		float: left;
		width: 34%;
		margin-right: 4%;
	}
	li.grid_1-desc {
		float: left;
		width: 62%;
		h4 {
			margin-bottom: 5px;
			font-size: 0.85em;
			font-weight: 500;
			text-transform: uppercase;
			a {
				color: #000;
				margin-bottom: 10px;
				&:hover {
					color: #fd926d;
					text-decoration: none;
				}
			}
		}
		p {
			font-size: 0.7em;
			font-weight: bold;
			color: #fd926d;
		}
		span {
			font-size: 1em;
			font-weight: normal;
			color: #414141;
		}
	}
}
.sale_grid {
	margin-bottom: 2em;
}
.images_3_of_2 {
	width: 26.2%;
	float: left;
	margin-right: 2.6%;
}
.desc1 {
	display: block;
	float: left;
}
.span_3_of_2 {
	width: 70.3333%;
	h1 {
		color: #4a4a4a;
		font-size: 1.5em;
		font-weight: 600;
	}
	p {
		color: #999;
		font-size: 0.85em;
		line-height: 1.8em;
	}
}
.single_top {
	margin: 3em 0;
}
ul.back {
	padding: 0;
	list-style: none;
	margin-bottom: 1em;
	border-bottom: 1px solid rgb(208, 208, 208);
	padding-bottom: 1em;
	li {
		font-size: 0.8125em;
		color: #999;
		a {
			color: #ffa687;
		}
	}
}
i.back_arrow {
	width: 15px;
	height: 15px;
	float: left;
	background: url(../images/img-sprite.png)no-repeat -154px -50px;
}
ul.price_single {
	padding: 0;
	list-style: none;
	margin: 1em 0;
	li.head {
		float: left;
		h2 {
			color: #fd926d;
			font-size: 2.5em;
			font-weight: bold;
		}
	}
	li.head_desc {
		float: right;
		margin-top: 15px;
		a {
			font-size: 0.8125em;
			color: #999;
			margin-right: 1em;
		}
	}
}
.metro1 {
	position: relative;
	cursor: pointer;
	font-weight: 600;
	background: #f4f4f4;
	color: #000;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	&:hover {
		color: #666;
		.selected {
			&::after {
				background: url(../images/img-sprite.png) no-repeat -184px -40px #fd926d;
			}
		}
	}
	.old {
		position: absolute;
		left: 0;
		top: 0;
		height: 0;
		width: 0;
		overflow: hidden;
	}
	select {
		position: absolute;
		left: 0px;
		top: 0px;
	}
	.selected {
		color: #000;
		display: block;
		font-size: 0.8125em;
		padding: 10px 0px 10px 10px;
		overflow: hidden;
		white-space: nowrap;
		text-align: left;
		font-weight: 500;
		text-transform: uppercase;
		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			padding: 18px;
			background: url(../images/img-sprite.png) no-repeat -184px -40px #e5e5e5;
		}
	}
	li {
		display: block;
		font-size: 0.8125em;
		padding: 10px 0px 10px 10px;
		overflow: hidden;
		white-space: nowrap;
		text-align: left;
		font-weight: 500;
		text-transform: uppercase;
		list-style: none;
		padding: 6px 10px;
		font-size: 0.85em;
		font-weight: 400;
		&:last-child {
			border-bottom: 0;
		}
		&:hover {
			background-color: #DD3E27;
		}
	}
	div {
		position: absolute;
		height: 0;
		left: 0;
		right: 0;
		top: 100%;
		margin-top: 1px;
		background: #fd926d;
		overflow: hidden;
		opacity: 0;
		color: #FFF;
	}
	ul {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		padding: 0;
		list-style: none;
		overflow: hidden;
	}
	li.focus {
		background: #DD3E27;
		position: relative;
		z-index: 3;
		color: #FFF;
	}
	li.active {
		background-color: #ff9f00;
		color: #fff;
	}
}
.metro1.open {
	z-index: 2;
	div {
		opacity: 1;
		z-index: 2;
	}
}
.metro1.focus {
	color: #666;
	.selected {
		&::after {
			background: url(../images/img-sprite.png) no-repeat -184px -40px #fd926d;
		}
	}
}
.metro1.touch {
	select {
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}
.metro1.scrollable {
	div {
		&::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 50px;
		}
	}
}
.metro1.scrollable.bottom {
	div {
		&::after {
			opacity: 0;
		}
	}
}
.metro1.scrollable.open {
	ul {
		overflow-y: auto;
	}
}
.dropdown_top {
	border-bottom: 1px solid rgb(208, 208, 208);
	border-top: 1px solid rgb(208, 208, 208);
	padding: 1em 0;
	margin: 2em 0;
}
.dropdown_left {
	float: left;
	width: 35%;
}
ul.color_list {
	padding: 0;
	list-style: none;
	float: right;
	margin-top: 7px;
	li {
		display: inline-block;
	}
}
span.color1 {
	background: #efebe2;
	padding: 5px 14px;
}
span.color2 {
	background: #c9c1c6;
	padding: 5px 14px;
}
span.color3 {
	background: #b29b88;
	padding: 5px 14px;
}
span.color4 {
	background: #968886;
	padding: 5px 14px;
}
span.color5 {
	background: #cde0ef;
	padding: 5px 14px;
}
.cart_header {
	border-bottom: 1px solid #DD9D33;
	border-top: 1px solid #DD9D33;
	padding: 1em 0;
	margin: 3em 0 1em;
	font-size: 12px;
	font-weight: 800;
	color: #25A25B;
	text-transform: uppercase;
	float: left;
	text-align: center;
	margin-top: 8px;
}
.cart_content_thin {
	padding: 1em 0;
	margin: 0.5em 0;
	float: left;
	font-size: 11px;
	border-bottom: dashed 1px #666;
	p {
		font-size: 11px;
		margin-top: 15px;
	}
	a {
		color: #F60;
		font-weight: 700;
		&:hover {
			color: #063;
		}
	}
	h3 {
		font-size: 12px;
		text-transform: uppercase;
	}
}
.cart_content_noborder {
	padding: 1em 0;
	margin: 0.5em 0;
	float: left;
	font-size: 11px;
	p {
		font-size: 11px;
		margin-top: 15px;
	}
	a {
		color: #F60;
		font-weight: 700;
		&:hover {
			color: #063;
		}
	}
	h3 {
		font-size: 12px;
		text-transform: uppercase;
	}
}
.cart_content {
	padding: 1em 0;
	margin: 0.2em 0;
	float: left;
	font-size: 11px;
	border-bottom: dashed 1px #666;
	p {
		font-size: 11px;
		margin-top: 15px;
	}
	a {
		color: #F60;
		font-weight: 700;
		&:hover {
			color: #063;
		}
	}
	h3 {
		font-size: 12px;
		text-transform: uppercase;
	}
}
.cart_total_container {
	padding-bottom: 10px;
	margin-bottom: 25px;
	border-bottom: 1px dashed #333;
}
.cart_total_text {
	padding-top: 3px;
	font-size: 0.8em;
	font-weight: 800;
	font-style: italic;
	color: #000;
	text-transform: uppercase;
}
.cart_total {
	font-size: 1em;
	font-weight: 800;
	font-style: italic;
	text-align: right;
	color: #25A25B;
	text-transform: uppercase;
}
.single_social_top {
	border-bottom: 1px solid rgb(208, 208, 208);
	border-top: 1px solid rgb(208, 208, 208);
	padding: 1em 0;
	margin: 3em 0;
}
ul.single_social {
	list-style: none;
	width: 88%;
	margin: 0 auto;
	li {
		display: inline-block;
		margin-right: 14%;
		a {
			i {
				width: 55px;
				height: 53px;
				float: left;
				background: url(../images/img-sprite.png)no-repeat;
				margin-right: 10px;
			}
			i.s_fb {
				background-position: -2px -137px;
			}
			i.s_pin {
				background-position: -62px -138px;
			}
			i.s_twt {
				background-position: -125px -137px;
			}
			i.s_email {
				background-position: -188px -137px;
			}
			color: #000;
			&:hover {
				display: block;
				color: #fd926d;
			}
		}
	}
	li.last {
		margin-right: 0;
	}
}
.social_desc {
	font-size: 12px;
	text-transform: uppercase;
	float: left;
	margin-top: 8px;
}
.menu {
	width: auto;
	height: auto;
	padding: 0;
	list-style: none;
	>li {
		>a {
			width: 100%;
			height: 4em;
			line-height: 4em;
			text-indent: 1.2em;
			display: block;
			position: relative;
			color: #fff;
			text-transform: uppercase;
			font-size: 15px;
			&:hover {
				background: #fd926d;
			}
		}
		>a.active {
			background: #fd926d;
		}
	}
	ul {
		li {
			a {
				background: #fff;
				width: 100%;
				height: 5em;
				line-height: 1.8em;
				display: block;
				position: relative;
				font-size: 0.85em;
				font-weight: 400;
				color: #878d95;
			}
		}
	}
}
ul.menu {
	li.item1 {
		background: #ffd5c6;
		img {
			margin: -3px 10px 0 0;
		}
	}
	li.item2 {
		img {
			margin: -3px 10px 0 0;
		}
		background: #ffcab8;
	}
	li.item3 {
		img {
			margin: -3px 10px 0 0;
		}
		background: #ffae92;
	}
	li.item4 {
		img {
			margin: -3px 10px 0 0;
		}
		background: #ffa687;
	}
	li.item5 {
		img {
			margin: -3px 10px 0 0;
		}
		background: #fd926d;
	}
}
span.left_line_2 {
	height: 1px;
	width: 42%;
	display: block;
	background: rgb(208, 208, 208);
	position: absolute;
	left: 0;
	bottom: 10px;
}
span.right_line_2 {
	height: 1px;
	width: 42%;
	display: block;
	background: rgb(208, 208, 208);
	position: absolute;
	right: 0;
	bottom: 10px;
}
.contact-form {
	input[type="text"] {
		display: block;
		width: 100%;
		padding: 15px;
		outline: none;
		margin: 0 0 1.5em;
		font-size: 0.85em;
		color: #888;
		background: #fff;
		border: 1px solid #DFDDDD;
	}
	textarea {
		display: block;
		background: #fff;
		height: 150px;
		width: 100%;
		padding: 15px;
		margin: 1em 0;
		border: 1px solid #DFDDDD;
		outline: none;
		color: #888;
		font-size: 0.85em;
	}
	input[type="submit"] {
		background: #fd926d;
		padding: 10px;
		display: inline-block;
		color: #FFF;
		text-transform: uppercase;
		font-size: 1.2em;
		transition: 0.5s ease;
		-o-transition: 0.5s ease;
		-webkit-transition: 0.5s ease;
		border: none;
		cursor: pointer;
		outline: none;
		width: 100%;
		&:hover {
			background: #000;
		}
	}
}
.contact {
	margin: 5em 0;
	min-height: 300px;
}
.contact_top {
	margin-bottom: 4em;
}
.map {
	iframe {
		min-height: 300px;
		width: 100%;
		border: none;
	}
}
.contact_grid {
	h3 {
		color: #fd926d;
		text-transform: uppercase;
		font-weight: 400;
	}
	p {
		font-size: 0.85em;
		color: #989A96;
		line-height: 1.8em;
	}
	ul {
		margin: 20px 0px;
	}
	li {
		font-size: 0.8em;
		padding: 10px;
		border: 1px solid #BEBEBE;
		a {
			color: #989A96;
			&:hover {
				color: #25A25B;
			}
		}
	}
}
.contact_address {
	margin-bottom: 2em;
}
.list_grid {
	h3 {
		color: #fd926d;
		text-transform: uppercase;
		font-weight: 400;
	}
	p {
		font-size: 0.85em;
		color: #989A96;
		line-height: 1.8em;
	}
	ul {
		margin: 20px 0px;
	}
	li {
		font-size: 0.8em;
		padding: 10px 20px 10px;
		border: 1px solid #BEBEBE;
		background: url(../images/side-arrow.png) no-repeat 3px 13px;
		a {
			display: block;
			color: #989A96;
			&:hover {
				color: #25A25B;
				text-decoration: none;
			}
		}
		&:hover {
			color: #25A25B;
			border-bottom: 1px solid #DD9D33;
		}
	}
}
.list_address {
	margin-bottom: 2em;
}
.login-left {
	padding: 0;
	h3 {
		color: #fd926d;
		font-size: 1em;
		text-transform: uppercase;
		font-weight: 600;
		padding-bottom: 0.5em;
	}
	p {
		color: #555;
		display: block;
		font-size: 0.8em;
		margin: 0 0 1.5em 0;
		line-height: 1.8em;
	}
}
.login-right {
	h3 {
		color: #fd926d;
		font-size: 1em;
		text-transform: uppercase;
		font-weight: 600;
		padding-bottom: 0.5em;
	}
	p {
		color: #555;
		display: block;
		font-size: 0.8em;
		margin: 0 0 1.5em 0;
		line-height: 1.8em;
	}
	input[type="submit"] {
		&:hover {
			background: #74ac80;
			text-decoration: none;
			color: #fff;
			background: #74ac80;
		}
		background: #DD9D33;
		color: #FFF;
		font-size: 0.8em;
		padding: 0.7em 1.2em;
		transition: 0.5s all;
		-webkit-transition: 0.5s all;
		-moz-transition: 0.5s all;
		-o-transition: 0.5s all;
		display: inline-block;
		text-transform: uppercase;
		border: none;
		outline: none;
	}
	form {
		padding: 1em 0;
		div {
			padding: 0 0 1.5em 0;
		}
	}
	span {
		padding-bottom: 0.2em;
		display: block;
		text-transform: uppercase;
	}
	input[type="text"] {
		border: 1px solid #fcb99c;
		outline-color: #fb4d01;
		width: 96%;
		font-size: 0.8125em;
		padding: 10px;
	}
	input[type="password"] {
		border: 1px solid #fcb99c;
		outline-color: #fb4d01;
		width: 96%;
		font-size: 0.8125em;
		padding: 10px;
	}
}
.acount-btn {
	background: #DD9D33;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	&:hover {
		background: #74ac80;
		text-decoration: none;
		color: #fff;
	}
}
a.forgot {
	font-size: 0.8125em;
	text-transform: uppercase;
	float: right;
	margin-right: 20px;
	&:hover {
		color: #e7883c;
	}
}
.register-top-grid {
	h3 {
		color: #fd926d;
		font-size: 0.8em;
		padding-bottom: 5px;
		margin: 0;
		font-weight: 600;
	}
	div {
		width: 48%;
		float: left;
		margin: 10px 0;
	}
	span {
		color: #555;
		font-size: 0.7125em;
		display: block;
		text-transform: uppercase;
	}
	input[type="text"] {
		border: 1px solid #ccc;
		outline-color: #FF5B36;
		width: 96%;
		font-size: 0.8em;
		padding: 0.5em;
	}
	textarea {
		border: 1px solid #ccc;
		outline-color: #FF5B36;
		width: 96%;
		font-size: 0.8em;
		padding: 0.5em;
	}
	input[type="password"] {
		border: 1px solid #ccc;
		outline-color: #FF5B36;
		width: 96%;
		font-size: 0.8em;
		padding: 0.5em;
	}
	input[type="email"] {
		border: 1px solid #ccc;
		outline-color: #FF5B36;
		width: 96%;
		font-size: 0.8em;
		padding: 0.5em;
	}
}
.register-bottom-grid {
	h3 {
		color: #fd926d;
		font-size: 0.8em;
		padding-bottom: 5px;
		margin: 0;
		font-weight: 600;
	}
	div {
		width: 48%;
		float: left;
		margin: 10px 0;
	}
	span {
		color: #555;
		font-size: 0.7125em;
		display: block;
		text-transform: uppercase;
	}
	input[type="text"] {
		border: 1px solid #ccc;
		border: 1px solid #ccc;
		outline-color: #FF5B36;
		outline-color: #FF5B36;
		width: 96%;
		width: 96%;
		font-size: 0.8em;
		font-size: 0.8em;
		padding: 0.5em;
		padding: 0.5em;
	}
}
.track-order-grid {
	div {
		width: 100%;
		float: left;
		margin: 10px 0;
	}
	span {
		color: #DD9D33;
		font-size: 0.9125em;
		font-weight: bold;
		display: block;
		text-transform: uppercase;
		margin-bottom: 5px;
	}
	input[type="text"] {
		border: 1px solid #F90;
		outline-color: #FF5B36;
		width: 80%;
		font-size: 0.8em;
		padding: 0.5em;
	}
	input[type="password"] {
		border: 1px solid #F90;
		outline-color: #FF5B36;
		width: 80%;
		font-size: 0.8em;
		padding: 0.5em;
	}
}
.checkbox {
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 1.1em;
	line-height: 27px;
	cursor: pointer;
	position: relative;
	font-size: 0.85em;
	color: #555;
	&:last-child {
		margin-bottom: 0;
	}
	i {
		position: absolute;
		bottom: 5px;
		left: 0;
		display: block;
		width: 20px;
		height: 20px;
		outline: none;
		border: 2px solid #D2CF99;
	}
	input {
		+ {
			i {
				&:after {
					content: '';
					background: url("../images/tick1.png") no-repeat 1px 2px;
					top: -1px;
					left: -1px;
					width: 15px;
					height: 15px;
					font: normal 12px/16px FontAwesome;
					text-align: center;
					position: absolute;
					opacity: 0;
					transition: opacity 0.1s;
					-o-transition: opacity 0.1s;
					-ms-transition: opacity 0.1s;
					-moz-transition: opacity 0.1s;
					-webkit-transition: opacity 0.1s;
				}
			}
		}
		position: absolute;
		left: -9999px;
		&:checked {
			+ {
				i {
					&:after {
						opacity: 1;
					}
				}
			}
		}
	}
}
.news-letter {
	color: #555;
	font-weight: 600;
	font-size: 0.85em;
	margin-bottom: 1em;
	display: block;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	clear: both;
	&:hover {
		color: #00BFF0;
	}
}
.register-but {
	margin-top: 1em;
	form {
		input[type="submit"] {
			background: #fd926d;
			color: #FFF;
			font-size: 0.8em;
			padding: 0.8em 2em;
			transition: 0.5s all;
			-webkit-transition: 0.5s all;
			-moz-transition: 0.5s all;
			-o-transition: 0.5s all;
			display: inline-block;
			text-transform: uppercase;
			border: none;
			outline: none;
		}
	}
	input[type="submit"] {
		&:hover {
			background: #000;
		}
	}
}
div.register-bottom-grid {
	margin-top: 3em;
}
.green {
	color: #25a25b;
	margin: 10px 0px 0px 0px;
}
.product-title {
	color: #555555;
	font-size: 1.5em;
	letter-spacing: -1px;
	margin-bottom: 15px;
	text-shadow: #FFFFFF 0 1px 0;
	padding-top: 10px;
}
.product-price {
	-webkit-text-stroke-width: 0.2px;
	color: #25A25B;
	font-size: 1.8em;
	line-height: 1.5em;
	margin: 0;
}
.product-share {
	color: #555555;
	display: block;
	font-size: 0.8725em;
	margin: 4% 0 2%;
	text-shadow: #FFFFFF 0 1px 0;
	text-transform: uppercase;
}
.product-desc {
	color: #555555;
	font-size: 0.8725em;
	line-height: 1.5em;
	text-shadow: #FFFFFF 0 1px 0;
	margin: 2% 0;
	padding-bottom: 20px;
	border-bottom: 1px dashed #999;
}
.desc {
	color: #555555;
	font-size: 0.8725em;
	line-height: 1.5em;
	text-shadow: #FFFFFF 0 1px 0;
	color: #666;
	font-size: 0.8125em;
	line-height: 1.5em;
}
.title_header {
	height: 30px;
	font-size: 1.3em;
	color: #25A25B;
	padding-left: 20px;
	border-left: 4px solid #DD9D33;
	text-transform: uppercase;
}
.delivery_header {
	border-bottom: 1px solid rgb(208, 208, 208);
	border-top: 1px solid rgb(208, 208, 208);
	padding: 1em 0;
	margin: 3em 0 1em;
	font-size: 12px;
	text-transform: uppercase;
	float: left;
	margin-top: 8px;
}
.order_wrap {
	font-size: 0.8em;
	background-color: #dbdbdb;
	padding: 7px 0px;
	text-align: center;
}
.order_desc {
	font-size: 1em;
	text-align: left;
	h3 {
		font-size: 1em;
		text-transform: uppercase;
		font-weight: 500;
	}
}
.order_total_wrap {
	font-size: 1em;
	padding: 10px 0px 0px;
	margin: 15px 0px;
	font-weight: 700;
	color: #666;
	border-top: 1px dashed rgb(208, 208, 208);
	font-size: 0.7em;
	background-color: #dbdbdb;
	padding: 7px 0px;
	margin: 7px 0px;
	border-bottom: 1px dashed #333;
	border-top: 1px dashed #333;
	text-align: center;
	p {
		font-size: 1.2em;
		font-weight: 800;
		color: #DD9D33;
		text-align: right;
	}
}
.order_number {
	margin-top: 20px;
	border-radius: 8px;
	border: 2px dashed #F90;
	text-align: center;
	padding: 5px;
	color: #DD9D33;
	span {
		font-size: 2em;
		color: #25a25b;
	}
}
.form-list {
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0 1px 1px inset;
	-webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	background-color: #FFFFFF;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0 1px 1px inset;
	color: #555555;
	display: block;
	font-size: 0.85em;
	height: auto;
	line-height: 1.428571429;
	padding: 0.45em;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	width: 96%;
}
.label-list {
	font-size: 0.8em;
	text-transform: uppercase;
	color: #555555;
}
.account_grid {
	padding: 15px;
	border: 1px solid #d5d5d5;
}
.order_add {
	margin-top: 20px;
	border-top: 1px solid #25A25B;
	border-bottom: 1px solid #25A25B;
	text-align: center;
	text-transform: uppercase;
	padding: 5px;
	color: #25A25B;
	a {
		color: #25A25B;
		text-decoration: none;
		&:hover {
			color: #DD9D33;
		}
	}
}
.my-account {
	ul {
		margin: 10px 0px;
	}
	li {
		a {
			padding: 20px 0px 20px 20px;
			font-size: 0.875em;
			background: url(../images/side-arrow.png) no-repeat 3px 11px;
			&:hover {
				padding: 10px 0px 10px 20px;
				font-size: 0.875em;
				background: url(../images/side-arrow.png) no-repeat 3px 11px;
			}
		}
	}
}
.user-info {
	p {
		width: 100%;
		padding-bottom: 5px;
		border-bottom: 1px dashed #333333;
		font-size: 0.9;
		color: #25A25B;
		font-weight: 800;
		font-style: italic;
	}
	span {
		font-size: 0.75em;
		color: #333;
	}
}
.user-info-wrapper {
	padding-left: 10px;
	border-left: 3px solid #DD9D33;
	margin-bottom: 15px;
}
.panel-title {
	a {
		&:hover {
			text-decoration: none;
		}
	}
}
.panel-body {
	padding: 0px;
	table {
		tr {
			td {
				padding-left: 25px;
				font-size: 11px;
				text-transform: uppercase;
			}
		}
	}
	a {
		display: block;
		&:hover {
			color: #25A25B;
			text-decoration: none;
		}
	}
	.table {
		margin-bottom: 0px;
	}
}
.how-wrapper {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #666;
	p {
		color: #666;
		font-size: 0.8125em;
		line-height: 1.5em;
	}
}
.how-number {
	font-size: 32px;
	text-align: center;
	padding: 8px 0px;
	border-radius: 60px 60px 60px 60px;
	margin-top: 10px;
	border: 1px solid #096;
	color: #096;
}
.desc-li {
	color: #666;
	font-size: 0.8125em;
	line-height: 1.5em;
}
.orderdetails-box {
	width: 100%;
	text-align: center;
}
#logoslider {
	display: none;
}
.clearout {
	height: 20px;
	clear: both;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	float: left;
	width: 100%;
	background: #fcfcfc;
	background: #fcfcfc -moz-linear-gradient(top, #fcfcfc 0%, #eee 100%);
	background: #fcfcfc -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eee));
	background: #fcfcfc -webkit-linear-gradient(top, #fcfcfc 0%, #eee 100%);
	background: #fcfcfc -o-linear-gradient(top, #fcfcfc 0%, #eee 100%);
	background: #fcfcfc -ms-linear-gradient(top, #fcfcfc 0%, #eee 100%);
	background: #fcfcfc linear-gradient(top, #fcfcfc 0%, #eee 100%);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.nbs-flexisel-item {
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
	img {
		width: 100%;
		cursor: pointer;
		position: relative;
		margin-top: 10px;
		margin-bottom: 10px;
		max-width: 100px;
		max-height: 45px;
	}
}
.nbs-flexisel-nav-left {
	width: 22px;
	height: 22px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	opacity: 0.5;
	left: 10px;
	background: url(../images/button-previous.png) no-repeat;
}
.nbs-flexisel-nav-right {
	width: 22px;
	height: 22px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	opacity: 0.5;
	right: 5px;
	background: url(../images/button-next.png) no-repeat;
}
.uppercase {
	text-transform: uppercase;
}
input.uppercase[attr='value'] {
	text-transform: uppercase;
}
.containerDiv {
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	width: 500px;
}
.rowDiv {
	border-top: 1px solid black;
}
.cellDiv {
	display: table-cell;
	width: 300px;
	padding: 4px;
}
.zoom {
	transition: all .2s ease-in-out;
	&:hover {
		transform: scale(1.1);
	}
}
* {
	box-sizing: border-box;
}
.grid {
	background: #fff;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}
.grid-sizer {
	width: 33.333%;
}
.grid-item {
	width: 33.333%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	background: -webkit-linear-gradient(45deg, #ffd489 0%, #49bf3d 100%);
	background: linear-gradient(45deg, #ffd489 0%,#49bf3d 100%);
	img {
		display: block;
		width: 100%;
		display: block;
		position: relative;
		max-width: none;
		width: calc(100% + 60px);
		-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
		transition: opacity 0.35s, transform 0.45s;
		-webkit-transform: translate3d(-40px,0,0);
		transform: translate3d(-40px,0,0);
	}
	h2 {
		text-transform: uppercase;
		color: #fff;
		position: relative;
		font-size: 17px;
		background-color: transparent;
		padding: 15% 0 10px 0;
		text-align: left;
	}
	.overlay {
		&:before {
			position: absolute;
			top: 20px;
			right: 20px;
			bottom: 20px;
			left: 20px;
			border: 4px solid #fff;
			content: '';
			opacity: 0;
			filter: alpha(opacity=0);
			-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
			transition: opacity 0.35s, transform 0.45s;
			-webkit-transform: translate3d(-20px,0,0);
			transform: translate3d(-20px,0,0);
		}
	}
	a {
		color: #FFF;
		filter: alpha(opacity=0);
		-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
		transition: opacity 0.35s, transform 0.45s;
		-webkit-transform: translate3d(-10px,0,0);
		transform: translate3d(-10px,0,0);
	}
	p {
		color: #FFF;
		filter: alpha(opacity=0);
		-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
		transition: opacity 0.35s, transform 0.45s;
		-webkit-transform: translate3d(-10px,0,0);
		transform: translate3d(-10px,0,0);
	}
	&:hover {
		img {
			opacity: 0.6;
			filter: alpha(opacity=60);
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}
		.overlay {
			&:before {
				opacity: 1;
				filter: alpha(opacity=100);
				-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}
		}
		a {
			opacity: 1;
			filter: alpha(opacity=100);
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}
		p {
			opacity: 1;
			filter: alpha(opacity=100);
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}
	}
}
.grid-item.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	padding: 3em;
	text-align: left;
}
.voffset4 {
	margin-bottom: 30px;
	border-style: solid;
	border-color: #e6e6e6;
	border-width: 1px;
}
@media screen and (max-width:800px) {
	.h_logo4 {
		text-align: center;
		float: none;
		margin: 4% 0;
	}
	.toggleMenu {
		padding: 5px 10px;
		width: 100%;
	}
	.nav {
		li {
			a {
				padding: 10px 15px;
			}
			li.hover {
				ul {
					position: static;
				}
			}
		}
		background: #fff;
		>li {
			float: none;
			>.parent {
				background-position: 64% 50% !important;
			}
		}
		ul {
			display: block;
			width: 100%;
		}
		>li.hover {
			>ul {
				position: static;
			}
		}
	}
	.active {
		display: block;
	}
}
@media screen and (max-width: 640px) {
	.toggleMenu {
		width: 100%;
	}
	ul.social {
		display: none;
	}
}
@media screen and (max-width: 480px) {
	.toggleMenu {
		width: 100%;
	}
	ul.social {
		display: none;
	}
}
@media screen and (max-width: 320px) {
	.toggleMenu {
		width: 100%;
	}
	ul.social {
		display: none;
	}
}
@media (max-width:480px) {
	ul.header_check {
		height: 28px;
		float: left;
		border-left: 1px solid #ffffff;
		width: 100%;
	}
	ul.header_user_info {
		height: 28px;
		float: left;
		border-left: 1px solid #ffffff;
		border-right: none;
		width: 100%;
	}
	.caption {
		width: 70%;
		top: 14%;
		left: 13%;
		p {
			height: 25px;
			overflow: hidden;
			margin: 0.5em 0;
		}
		h3 {
			font-size: 1.4em;
		}
	}
	.callbacks_nav {
		top: 60%;
	}
	a.morebtn {
		width: 40%;
		font-size: 0.8em;
	}
	.callbacks_tabs {
		a {
			&:after {
				height: 4px;
				width: 4px;
			}
		}
	}
	ul.callbacks_tabs.callbacks1_tabs {
		bottom: 10px;
		left: 4px;
	}
}
@media (max-width:1024px) {
	.caption {
		width: 63%;
		top: 31%;
		left: 19%;
	}
}
@media (max-width:768px) {
	.caption {
		width: 70%;
		top: 22%;
		left: 13%;
		h3 {
			font-size: 1.5em;
		}
	}
	a.morebtn {
		width: 26%;
	}
	.callbacks_nav {
		top: 55%;
	}
}
@media (max-width:640px) {
	.caption {
		width: 70%;
		top: 12%;
		left: 13%;
		h3 {
			font-size: 1.5em;
		}
	}
	a.morebtn {
		width: 30%;
	}
	.callbacks_tabs {
		a {
			&:after {
				height: 10px;
				width: 10px;
			}
		}
	}
}
@media (max-width:320px) {
	.caption {
		width: 70%;
		top: 14%;
		left: 13%;
		p {
			height: 25px;
			overflow: hidden;
			margin: 0.2em 0;
		}
		h3 {
			font-size: 1em;
		}
	}
	.callbacks_nav {
		top: 63%;
	}
	a.morebtn {
		width: 50%;
		font-size: 0.8em;
		padding: 0.6em 0.5em;
	}
	.callbacks_tabs {
		a {
			&:after {
				height: 4px;
				width: 4px;
			}
		}
	}
	ul.callbacks_tabs.callbacks1_tabs {
		bottom: 10px;
		left: 4px;
	}
}
@media only screen and (max-width:480px) {
	.sap_tabs {
		padding-top: 0;
	}
	.resp-tabs-container {
		padding: 10px;
	}
	ul.resp-tabs-list {
		display: none;
	}
	h2.resp-accordion {
		display: block;
		font-size: 1em;
		text-transform: uppercase;
		padding: 10px;
	}
	.resp-vtabs {
		.resp-tab-content {
			border: 1px solid #C1C1C1;
		}
		.resp-tabs-container {
			border: none;
			float: none;
			width: 100%;
			min-height: initial;
			clear: none;
		}
	}
	.resp-accordion-closed {
		display: none !important;
	}
}
@media (max-width:1366px) {
	.srch {
		button {
			right: 100px;
		}
	}
	.header_top_right {
		width: 25%;
	}
	.main-search {
		bottom: -81px;
		right: 109px;
	}
	.view {
		.mask {
			top: 3.5em;
			left: 2em;
		}
		.content {
			top: 3.5em;
			left: 2em;
		}
	}
}
@media (max-width:1280px) {
	.srch {
		button {
			right: 56px;
		}
	}
	.main-search {
		bottom: -75px;
		right: 58px;
	}
	.view-first {
		.mask {
			width: 90px;
			height: 90px;
			background-size: 98%;
		}
	}
	.view {
		.mask {
			top: 4.5em;
			left: 3em;
		}
		.content {
			top: 4.5em;
			left: 3em;
		}
	}
	.resp-tabs-list {
		width: 40%;
	}
	.header_bottom_right {
		width: 87%;
	}
}
@media (max-width:1024px) {
	.header_top_right {
		width: 29%;
	}
	.srch {
		button {
			right: 33px;
		}
	}
	.header_bottom_right {
		width: 71%;
		width: 75%;
	}
	.resp-tabs-list {
		width: 50%;
	}
	.resp-tab-item {
		font-size: 0.85em;
	}
	.btn1.btn-primary1 {
		font-size: 12px;
	}
	a.btn1.btn-primary1 {
		img {
			margin-top: 1px;
		}
	}
	.tab_desc {
		h3 {
			font-size: 0.8125em;
		}
		p {
			font-size: 1.3em;
		}
	}
	.tab_desc1 {
		h3 {
			font-size: 0.8125em;
		}
		p {
			font-size: 1.3em;
		}
	}
	.view-first {
		.mask {
			width: 90px;
			height: 90px;
			background-size: 90%;
		}
		.product_mask {
			width: 140px;
			height: 140px;
			background-size: 100%;
		}
	}
	.view {
		.mask {
			top: 4em;
			left: 2.5em;
		}
		.content {
			top: 4em;
			left: 2.5em;
			top: 5em;
			left: 3em;
		}
		.product_mask {
			top: 5em;
			left: 3em;
		}
	}
	i.clearence {
		width: 100px;
		height: 98px;
		background-size: 100%;
	}
	span.left_line1 {
		width: 390px;
		bottom: 53px;
	}
	span.right_line1 {
		width: 390px;
		bottom: 53px;
	}
	.banner_right {
		margin-top: 2em;
	}
	.span_3_of_2 {
		width: 63.3333%;
	}
	.images_3_of_2 {
		width: 33.2%;
	}
	ul.single_social {
		li {
			margin-right: 10%;
		}
	}
	.main-search {
		bottom: -66px;
		right: 27px;
		padding-bottom: 3.5em;
		input[type="text"] {
			background: none;
			padding: 5px;
		}
		input[type="submit"] {
			top: 6px;
			right: 0px;
		}
	}
	.wmuSlider {
		min-height: 425px;
	}
	.callbacks_nav {
		margin-top: -60px;
	}
	ul.size {
		li {
			margin: 0 7px 0 0;
		}
	}
}
@media (max-width:990px) {
	.shopping_cart {
		display: none;
	}
}
@media (max-width:800px) {
	.nav {
		>li {
			>a.parent {
				background: none;
			}
		}
	}
	.header_top_right {
		width: 35%;
	}
	.shopping_cart {
		display: block;
	}
	.srch {
		button {
			right: 24px;
		}
	}
	.main-search {
		bottom: -64px;
		right: 26px;
		padding-bottom: 3.5em;
	}
	ul.shopping_cart_top {
		li.shop_left {
			margin-right: 30%;
		}
	}
	.header_bottom_right {
		width: 70%;
	}
	.resp-tabs-list {
		width: 56%;
	}
	span.left_line1 {
		width: 285px;
		bottom: 53px;
	}
	span.right_line1 {
		width: 285px;
		bottom: 53px;
	}
	.images_3_of_2 {
		width: 42.2%;
	}
	.span_3_of_2 {
		width: 54.3333%;
	}
	ul.single_social {
		li {
			margin-right: 3%;
		}
	}
	.login-right {
		padding: 0px !important;
		margin-top: 3em;
	}
	.contact_left {
		margin-bottom: 3em;
	}
	.btn1.btn-primary1 {
		font-size: 10px;
		padding: 7px 6px;
	}
	a.btn1.btn-primary1 {
		img {
			margin-top: 0;
		}
	}
	.view {
		.mask {
			top: 2em;
			left: 1.1em;
		}
		.content {
			top: 2em;
			left: 1.1em;
		}
	}
	a.btn1.btn2.btn-primary1 {
		padding: 10px 15px;
		font-size: 0.8125em;
	}
	a.btn1.btn2.btn-primarybv {
		padding: 10px 15px;
		font-size: 0.8125em;
	}
	p.p2 {
		padding: 1em 0;
	}
	.banner_right {
		margin-top: 1em;
	}
	.wmuSlider {
		min-height: 385px;
	}
	.product_right {
		margin-top: 7em;
	}
	.h_menu4 {
		float: left;
		width: 100%;
		text-align: center;
	}
}
@media (max-width:768px) {
	a {
		&:hover {
			color: #fff;
			text-decoration: none;
		}
		&:focus {
			color: #fff;
			text-decoration: none;
		}
	}
	.nav {
		>li {
			>a.parent {
				background: none;
				padding: 10px 10px 10px 10px;
			}
		}
	}
	.shopping_cart {
		width: 35%;
	}
	.grid-1 {
		p {
			font-size: 0.8125em;
		}
	}
	.srch {
		button {
			right: 14px;
		}
	}
	.main-search {
		bottom: -63px;
		right: 16px;
		input[type="text"] {
			font-size: 12px;
		}
		input[type="submit"] {
			top: 4px;
		}
	}
	span.left_line {
		width: 38%;
	}
	span.right_line {
		width: 38%;
	}
	ul.footer_social {
		li {
			margin-right: 0;
		}
	}
	.footer_bottom {
		text-align: center;
	}
	.cssmenu {
		float: none;
	}
	.copy {
		float: none;
		margin-top: 0px;
	}
	.span_3_of_2 {
		p {
			font-size: 0.8125em;
		}
		h1 {
			font-size: 1.3em;
		}
	}
	ul.price_single {
		li.head {
			h2 {
				font-size: 2em;
			}
		}
		li.head_desc {
			margin-top: 8px;
		}
		margin: 0;
	}
	.menu {
		ul {
			li {
				a {
					font-size: 0.8125em;
				}
			}
		}
	}
	span.left_line2 {
		width: 38%;
	}
	span.right_line2 {
		width: 38%;
	}
	.header_bottom {
		padding: 1em 0;
	}
	.callbacks_nav {
		margin-top: -70px;
	}
	.toggleMenu {
		font-size: 1.2em;
	}
}
@media (max-width:640px) {
	.nav {
		>li {
			>a.parent {
				background: none;
			}
		}
	}
	.header_top_left {
		display: none;
	}
	.header_top_right {
		width: 46%;
	}
	ul.shopping_cart_top {
		li.shop_left {
			margin-right: 15%;
		}
	}
	.shopping_cart {
		width: 41%;
	}
	.h_menu4 {
		width: 56%;
		margin-top: 15px;
	}
	.toggleMenu {
		font-size: 1.2em;
	}
	.column_center {
		margin: 2em 0;
	}
	.resp-tab-item {
		font-size: 0.8125em;
		padding: 5px 10px;
	}
	.resp-tabs-list {
		width: 65%;
	}
	.sap_tabs {
		padding: 2em 0 2em;
	}
	ul.tab_img {
		li {
			width: 31%;
			margin: 0 1% 2% 1%;
		}
	}
	.view {
		.mask {
			top: 5.2em;
			left: 3.5em;
		}
		.content {
			top: 5.2em;
			left: 3.5em;
			top: 1em;
			left: 2.4em;
		}
		.product_mask {
			top: 1em;
			left: 2.4em;
		}
	}
	i.clearence {
		width: 80px;
		height: 80px;
		background-size: 100%;
	}
	span.left_line1 {
		width: 235px;
		bottom: 45px;
	}
	span.right_line1 {
		width: 235px;
		bottom: 45px;
	}
	.footer_top {
		text-align: center;
	}
	.grid-3 {
		margin-bottom: 1em;
	}
	.wmuSlider {
		min-height: 425px;
	}
	.mens-toolbar {
		.sort {
			width: 100%;
		}
	}
}
@media (max-width:480px) {
	.nav {
		>li {
			>a.parent {
				background: none;
			}
		}
	}
	.header_top_right {
		width: 48%;
	}
	.price-wrap {
		width: 100%;
	}
	ul.shopping_cart_top {
		li.shop_left {
			font-size: 12px;
		}
	}
	ul.shopping_bag {
		padding: 4px 5px;
	}
	.h_menu4 {
		width: 59%;
	}
	.shopping_cart {
		width: 39%;
	}
	ul.social {
		float: none;
	}
	.search {
		float: none;
		margin-bottom: 1em;
	}
	.view {
		.mask {
			top: 3.2em;
			left: 1.8em;
		}
		.content {
			top: 3.2em;
			left: 1.8em;
		}
	}
	span.left_line1 {
		width: 160px;
	}
	span.right_line1 {
		width: 160px;
	}
	span.left_line {
		width: 30%;
	}
	span.right_line {
		width: 30%;
	}
	.banner_left {
		float: none;
		width: 100%;
	}
	.banner_right {
		float: none;
		width: 100%;
	}
	.wmuSlider {
		min-height: 685px;
	}
	.mens-toolbar {
		.sort {
			width: 100%;
			float: none;
		}
	}
	.pages {
		float: none;
	}
	.limiter.visible-desktop {
		margin: 3px 20px 0 0;
	}
	.cssmenu {
		ul {
			li {
				a {
					margin: 3px 3px;
				}
			}
		}
	}
	.copy {
		margin-top: 1em;
	}
	.product_right {
		margin-top: 2em;
	}
}
@media (max-width:430px) {
	.nav {
		>li {
			>a.parent {
				background: none;
			}
		}
	}
	.shopping_cart {
		display: none;
	}
	.header_bottom_right {
		width: 100%;
		margin-bottom: 20px;
	}
	.logo {
		width: 100%;
		text-align: center;
		img {
			width: 50%;
		}
	}
	.h_menu4 {
		width: 100%;
	}
	.header_top_left {
		display: none;
	}
	.header_top_right {
		width: 100%;
	}
	.header_bottom {
		padding: 0 0 1em;
	}
}
@media (max-width:320px) {
	.nav {
		>li {
			>a.parent {
				background: none;
			}
		}
	}
	.thumb-wrap {
		padding-left: 2%;
		padding-right: 2%;
	}
	.header_top_left {
		display: none;
	}
	.header_top_right {
		width: 100%;
	}
	.shopping_cart {
		display: none;
	}
	.header_bottom_right {
		width: 100%;
		margin-bottom: 20px;
	}
	.logo {
		width: 100%;
		text-align: center;
		img {
			width: 40%;
		}
	}
	ul.footer_social {
		li {
			a {
				i.vimeo {
					display: none;
				}
			}
		}
	}
	.h_menu4 {
		width: 100%;
	}
	.tab_desc {
		h3 {
			font-size: 11px;
		}
		p {
			font-size: 1em;
		}
	}
	.tab_desc1 {
		h3 {
			font-size: 11px;
		}
		p {
			font-size: 1em;
		}
	}
	.btn1.btn-primary1 {
		font-size: 9px;
		padding: 6px 5px;
		>span {
			margin-right: 2px;
		}
	}
	.view {
		.mask {
			display: none;
		}
		.content {
			display: none;
			display: none;
		}
		.product_mask {
			display: none;
		}
	}
	h2.resp-accordion {
		font-size: 0.85em;
		padding: 7px;
	}
	i.clearence {
		width: 55px;
		height: 55px;
		background-size: 105%;
	}
	span.left_line1 {
		width: 90px;
		bottom: 30px;
	}
	span.right_line1 {
		width: 90px;
		bottom: 30px;
	}
	.sap_tabs {
		padding: 2em 0 0em;
	}
	ul.grid1 {
		li {
			width: 47%;
		}
	}
	.brands {
		padding: 2em 0 0em;
	}
	.m_3 {
		h3 {
			font-size: 0.85em;
		}
	}
	span.left_line {
		width: 24%;
	}
	span.right_line {
		width: 24%;
	}
	.toggleMenu {
		font-size: 1em;
	}
	.banner_right {
		h1 {
			font-size: 1.2em;
		}
	}
	p.p1 {
		font-size: 1.5em;
	}
	.wmuSlider {
		min-height: 620px;
	}
	.col-md-9 {
		padding: 0;
	}
	.contact {
		margin: 3em 0;
	}
	.contact-form {
		input[type="text"] {
			padding: 10px;
		}
		input[type="submit"] {
			font-size: 0.85em;
		}
	}
	.contact_top {
		margin-bottom: 2em;
	}
}
