@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(circle at top center, #333333 0%, #111111 100%);

}
.fix-div{
  position:fixed;
  text-align: center;
  /*height:10%;*/
  width:100%;
  left:0;
  top:0;
  z-index:1;
  border: 3px solid green;
  /*font: 300 30px/1 'Open Sans Condensed', sans-serif;*/
  background-color: white;
}


.wrapper {
  position: absolute;
  top: 100%;

  font: 300 30px/1 'Open Sans Condensed', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  animation: 180s credits linear infinite;
}

.movie {
  right: 0px;
  left: 0px;
  margin-bottom: 50px;
  font-size: 90px;
}

.job {
  right: 0px;
  left: 0px;
  margin-bottom: 5px;
  font-size: 70px;
}

.name {
  right: 0px;
  left: 0px;
  margin-bottom: 5px;
  font-size: 40px;
}

@keyframes credits {
  0% {
    top: 100%;
  }
  100% {
    top: -750%;
  }
}
